h1,
.title-1 {
    font-weight: 500;
    // font-size: clamp(40px, 33px + 2.143vw, 64px);
    // font-size: Min(4vw, 57px);
    font-size: 4vw;
}

h2,
.title-2 {
    // font-size: clamp(30.33px, 23px + 2.292vw, 56px);
    font-size: 3.4vw;
    font-weight: 600;
}
